@model Onion.AppCore.DTO.StorekeeperDTO

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Storekeeper/Show">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Detail</li>
    </ol>
</nav>

<form asp-action="Create" asp-controller="Storekeeper" asp-anti-forgery="true" method="post" enctype="multipart/form-data">

    <div class="container col-10 ">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="container col-10 ">
        <div class="InputSuccess">@ViewBag.CreateResult</div>
    </div>

    <div class="container col-5 justify-content-center mt-3 ">
        <h2 class="text-center">Create Storekeeper:</h2>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="FullName">FullName:</label>
            </div>
            <div class="col-9">
                <input type="text" name="FullName" class="form-control" asp-for="FullName" />
                <span asp-validation-for="FullName" class="col-8" />
            </div>
        </div>

        <div class="row mb-5 mt-4 pb-4 justify-content-center">
            <div class="col-4 ">
                <a asp-action="Show" asp-controller="Detail" class="btn btn-primary  NewProject ">Back</a>
            </div>
            <div class="col-7">
                <input class="btn btn-primary  NewProject col-7" type="submit" value="Create">
            </div>
        </div>

    </div>
</form>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}